@import 'tailwindcss';

@theme {
    --font-display: 'Figtree', 'sans-serif';
    --font-text: 'Inter', 'sans-serif';

    --text-xxs: 0.625rem;

    --color-primary: #006747;
}

@layer base {
    body {
        @apply font-text;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-display;
    }
}
